@using Norexia.Core.Facade.Client.Sdk;
@using Syncfusion.Blazor.Grids
@using System;
@using Syncfusion.Blazor.Notifications
@using NorexiaGestionCommercialeWebUI.Components

@page "/Clients"

<div class="control-section" style="height:100%">
    <div class="content-wrapper">
        <div id="container">
            <SfGrid @ref=CustomersGrid Height="100%" AllowResizing=true DataSource="@Customers" AllowSelection="true" AllowSorting="true" AllowFiltering="true" EnableVirtualization="true" EnableVirtualMaskRow="true" AllowPaging="true" EnableHover="false" Toolbar="Toolbaritems">
                <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Menu"></GridFilterSettings>
                <GridPageSettings PageSize="40"></GridPageSettings>
                <GridSelectionSettings CheckboxOnly="true" Type="SelectionType.Single"></GridSelectionSettings>
                <GridEvents OnToolbarClick="ToolbarClickHandler" OnActionBegin="OnActionBegin" TValue="CustomerDto"></GridEvents>
                <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" ShowDeleteConfirmDialog="true" Mode="EditMode.Dialog"></GridEditSettings>
                <GridColumns>
                    <GridColumn Type="ColumnType.CheckBox" AllowFiltering="false" AllowSorting="false" Width="60" AllowResizing=false></GridColumn>
                    <GridColumn Field=@nameof(CustomerDto.Id) IsPrimaryKey="true" Visible=false></GridColumn>
                    <GridColumn Field=@nameof(CustomerDto.Reference) HeaderText="Référence" MinWidth="120px"></GridColumn>
                    <GridColumn Field=@nameof(CustomerDto.SocialReason) HeaderText="Raison sociale" MinWidth="120px" ClipMode="ClipMode.EllipsisWithTooltip"></GridColumn>
                    <GridColumn Field=@nameof(CustomerDto.FirstName) HeaderText="Nom/Prénom" MinWidth="120px" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.Menu })">
                        <Template>
                            @{
                                var customer = (context as CustomerDto);
                                <div>@($"{customer!.FirstName}, {customer!.LastName}")</div>
                            }
                        </Template>
                    </GridColumn>
                    <GridColumn Field=CustomerCategory.Name HeaderText="Catégorie" MinWidth="120px"></GridColumn>
                    <GridColumn Field=@nameof(CustomerDto.ClientType) HeaderText="Type" MinWidth="120px"></GridColumn>
                    <GridColumn Field=@nameof(CustomerDto.Tel) HeaderText="Tel" MinWidth="120px"></GridColumn>
                    <GridColumn Field=@nameof(CustomerDto.Active) MinWidth="120px" HeaderText="Actif" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })" ClipMode="ClipMode.EllipsisWithTooltip">
                        <Template>
                            @{
                                var customer = (context as CustomerDto);
                                @if (customer!.Active == true)
                                {
                                    <div>Oui</div>
                                }
                                else
                                {
                                    <div>Non</div>
                                }
                            }
                        </Template>
                    </GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>

<ToastComponent @ref=Toast></ToastComponent>