@using NorexiaGestionCommercialeWebUI.Components.Stock
@page "/Stock/Status"

<StockAppBarComponent />

<article class="content mx-2">
    <PageTitle>Stock Status ...</PageTitle>

    <h1>Stock Status ...</h1>
</article>

@code {
}
