@using Norexia.Core.Facade.Client.Sdk;
@using NorexiaGestionCommercialeWebUI.Components.Provider
@using NorexiaGestionCommercialeWebUI.Models
@using NorexiaGestionCommercialeWebUI.Models.Provider;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using NorexiaGestionCommercialeWebUI.Components.Product
@using NorexiaGestionCommercialeWebUI.Components
@using Syncfusion.Blazor.Notifications

@page "/Providers/New"

<EditForm EditContext="EC" OnSubmit="SaveProvider">
    <FluentValidator TValidator="ProviderCommandValidator" />
    <ProviderFormAppBarComponent></ProviderFormAppBarComponent>
    <div class="control-section">
        <div class="content-wrapper">
            <div class="container-fluid mt-2">
                <SfCard>
                    <CardContent>
                        <ValidationSummary></ValidationSummary>
                        <ProviderGeneralInformationComponent @bind-ProviderCommand=ProviderCommand ProviderCategories="ProviderCategories"></ProviderGeneralInformationComponent>
                    </CardContent>
                    <CardContent EnableSeparator="true"></CardContent>
                    <CardContent>
                        <SfTab LoadOn="ContentLoad.Init" CssClass="default-tab e-fill">
                            <TabAnimationSettings>
                                <TabAnimationPrevious Effect="AnimationEffect.None"></TabAnimationPrevious>
                                <TabAnimationNext Effect="@AnimationEffect.None"></TabAnimationNext>
                            </TabAnimationSettings>
                            <TabItems>
                                <TabItem Visible="@(ProviderCommand!.ProviderType == ProviderType.Company)">
                                    <HeaderTemplate>Coordonnées</HeaderTemplate>
                                    <ContentTemplate>
                                        <ProviderCompanyContactComponent @bind-ProviderCommand=ProviderCommand></ProviderCompanyContactComponent>
                                    </ContentTemplate>
                                </TabItem>
                                <TabItem>
                                    <HeaderTemplate>Contact</HeaderTemplate>
                                    <ContentTemplate>
                                        <ProviderContactInformationComponent @bind-ProviderCommand=ProviderCommand></ProviderContactInformationComponent>
                                    </ContentTemplate>
                                </TabItem>
                                <TabItem>
                                    <ChildContent>
                                        <TabHeader Text="Adresses"></TabHeader>
                                    </ChildContent>
                                    <ContentTemplate>
                                        <ProviderAddressComponent @bind-ProviderCommand=ProviderCommand></ProviderAddressComponent>
                                    </ContentTemplate>
                                </TabItem>
                            </TabItems>
                        </SfTab>
                    </CardContent>
                </SfCard>
            </div>
        </div>
    </div>
</EditForm>

<ToastComponent @ref=Toast></ToastComponent>