::deep #toast_types button {
    margin: 5px;
    min-width: 160px;
    max-width: 160px;
}

::deep .toast-icons {
    font-family: 'Toast_icons' !important;
    speak: none;
    font-size: 55px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::deep #toast_type .e-toast-icon.e-icons {
    height: auto;
    font-size: 30px;
}

::deep .bootstrap5 #toast_type .e-toast-icon.e-icons,
::deep .bootstrap5-dark #toast_type .e-toast-icon.e-icons {
    height: 25px;
}

::deep .toast-icons.e-success::before {
    content: "\e701";
}

::deep .toast-icons.e-error::before {
    content: "\e700";
}

::deep .toast-icons.e-info::before {
    content: "\e704";
}

::deep .toast-icons.e-warning::before {
    content: "\e703";
}

::deep #toast_types {
    text-align: center;
}
